{% extends 'main/base.html' %}
{% block title %}Новости{% endblock %}
{% block content %}

      <div class="site-blocks-cover overlay" style="background-image: url({{ image_header }});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">
              <h1 class="mb-5">{{ title_main }} <strong>{{ subtitle_main }}</strong></h1>
              <p>
                <a href="{{ link_button_1 }}" class="btn btn-primary py-3 px-5 rounded-0">{{ text_button_1 }}</a>
                <a href="{{ link_button_2 }}" class="btn btn-white btn-outline-white py-3 px-5 rounded-0">{{ text_button_2 }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="site-section border-bottom bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5"><h2 class="text-black h6 font-weight-bold text-uppercase" data-aos="fade">{{ blok_info_title }}</h2></div>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="0">
            <div class="d-flex align-items-center">
              <div class="mr-3"><span class="{{ blok_info_block_1_img }}"></span></div>
              <div class="">
                <h2 class="text-black">{{ blok_info_block_1_num }}</h2> <strong class="text-black">{{ blok_info_block_1_title }} </strong>
                {{ blok_info_block_1_subtitle }}
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
            <div class="d-flex align-items-center">
              <div class="mr-3"><span class="{{ blok_info_block_2_img }}"></span></div>
              <div class="">
                <h2 class="text-black">{{ blok_info_block_2_num }}</h2> <strong class="text-black">{{ blok_info_block_2_title }}</strong>
                {{ blok_info_block_2_subtitle }}
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-4 mb-0 mb-lg-0" data-aos="fade" data-aos-delay="300">
            <div class="d-flex align-items-center">
              <div class="mr-3"><span class="{{ blok_info_block_3_img }}"></span></div>
              <div class="">
                <h2 class="text-black">{{ blok_info_block_3_num }}</h2> <strong class="text-black">{{ blok_info_block_3_title }}</strong>
                {{ blok_info_block_3_subtitle }}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
<!Шапка блока и Блок Specialty-->

    <div class="site-section">
      
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-12 text-center">
            <h2 class="font-weight-light text-black display-4">{{ main_title_specialty|truncatewords:8 }}</h2>
          </div>
          <div class="col-md-7 text-center">
            <p>{{ main_subtitle_specialty|truncatewords:30 }}</p>
          </div>
        </div>
<! Блок специальностей -->


       <div class="row no-gutters align-items-stretch h-100">
         {% for item in news %}
         {% if item.id == block_speciality_id_1 %}
          <div class="col-lg-6">
            <div class="row no-gutters align-items-stretch h-100 half-sm">
              <div class="col-md-6 bg-image bg-sm-height" style="background-image: url('{{ item.image }}');" data-aos="fade" data-aos-delay="0"></div>
              <div class="col-md-6 bg-light text">
                <div class="p-4">
                  <h2 class="h5 mb-3 text-black line-height-sm">{{ item.title|truncatewords:8 }}</h2>
                  <p>{{ item.content|truncatewords:40 }}</p>
                  <p class="mb-0"><a href="{{ item.get_absolute_url }}" class=""><small class="text-uppercase font-weight-bold text-black">Читать далее</small></a></p>
                </div>
              </div>
            </div>
          </div>
         {% endif %}
         {% if item.id == block_speciality_id_2 %}
          <div class="col-lg-6">
            <div class="row no-gutters align-items-stretch h-100 half-sm">
              <div class="col-md-6 bg-image order-md-2 order-lg-1 bg-sm-height" style="background-image: url('{{ item.image }}');" data-aos="fade" data-aos-delay="200"></div>
              <div class="col-md-6 bg-light text order-md-1 order-lg-2">
                <div class="p-4">
                  <h2 class="h5 mb-3 text-black line-height-sm">{{ item.title|truncatewords:8 }}</h2>
                  <p>{{ item.content|truncatewords:40 }}</p>
                  <p class="mb-0"><a href="{{ item.get_absolute_url }}" class=""><small class="text-uppercase font-weight-bold text-black">Читать далее</small></a></p>
                </div>
              </div>
            </div>
          </div>
         {% endif %}
         {% if item.id == block_speciality_id_3 %}

          <div class="col-lg-6">
            <div class="row no-gutters align-items-stretch h-100 half-sm">
              <div class="col-md-6 bg-image order-md-1 order-lg-2 bg-sm-height" style="background-image: url('{{ item.image }}');" data-aos="fade" data-aos-delay="300"></div>
              <div class="col-md-6 bg-light text order-md-2 order-lg-1">
                <div class="p-4">
                  <h2 class="h5 mb-3 text-black line-height-sm">{{ item.title|truncatewords:8 }}</h2>
                  <p>{{ item.content|truncatewords:40 }}</p>
                  <p class="mb-0"><a href="{{ item.get_absolute_url }}" class=""><small class="text-uppercase font-weight-bold text-black">Читать далее</small></a></p>
                </div>
              </div>
            </div>
          </div>
         {% endif %}
         {% if item.id == block_speciality_id_4 %}
          <div class="col-lg-6">
            <div class="row no-gutters align-items-stretch h-100 half-sm">
              <div class="col-md-6 bg-image order-md-2 bg-sm-height" style="background-image: url('{{ item.image }}');" data-aos="fade" data-aos-delay="400"></div>
              <div class="col-md-6 bg-light text order-md-1">
                <div class="p-4">
                  <h2 class="h5 mb-3 text-black line-height-sm">{{ item.title|truncatewords:8 }}</h2>
                  <p>{{ item.content|truncatewords:40 }}</p>
                  <p class="mb-0"><a href="{{ item.get_absolute_url }}" class=""><small class="text-uppercase font-weight-bold text-black">Читать далее</small></a></p>
                </div>
              </div>
            </div>
          </div>
         {% endif %}
         {% endfor %}

        </div>

      </div>

    </div>

<! /Блок специальностей -->
<! form news_blok -->
    <div class="site-section">
      <div class="container">

        <div class="row">
          {% for item in news %}
        {% if item.id == block_news_id %}
          <div class="col-md-6 bg-image bg-sm-height mb-5 mb-md-0 order-md-2" style="background-image: url('{{ item.image }}');" data-aos="fade-up"></div>
          <div class="col-md-6 pr-md-5 order-md-1">
            <h4 class="display-3 line-height-xs text-black mb-4"> {{ item.title|truncatewords:5 }}</h4>
            <p class="mb-4">{{ item.content|truncatewords:25 }}</p>
            <ul class="site-block-check">
              <li>Magnam iure fugit recusandae</li>
              <li>Officiis laboriosam repudiandae</li>
              <li>Quis nostrum numquam</li>
            </ul>
            <p><a href="{{ item.get_absolute_url }}" class="btn btn-outline-primary btn-sm rounded-0 p-2 px-4">Читать далее</a></p>
          </div>
          {% endif %}
        {% endfor %}
        </div>

      </div>
    </div>


      </div>
      </div>


    </div>

<! /form news_blok -->

<! form portfolio -->

    <div class="site-section bg-light">
      <div class="container">

        <div class="block-13 nonloop-block-13 owl-carousel" data-aos="fade">

          {% for item in portfolio %}
          <div class="p-4">
            <div class="block-47 d-flex">
              <div class="block-47-image d-none d-sm-block">
                <img src="{{ item.avatar }}" alt="Image placeholder" class="img-fluid">
              </div>
              <blockquote class="block-47-quote">
                <p>{{ item.message|truncatewords:10 }}</p>
                <cite class="block-47-quote-author">&mdash; {{ item.lname}}{{ item.fname }}, {{ item.post }} <a href="#">XYZ Inc.</a></cite>
              </blockquote>
            </div>
          </div>
          {% endfor %}


         
        </div>
        

      </div>
    </div>
<! /form portfolio -->
<! block us vidio -->
<!-- {% for item in news %}-->
<!--        {% if item.id == block_news_id_2 %}-->
<!--    <div class="site-block-half d-block d-lg-flex site-block-video" data-aos="fade">-->
<!--      <div class="image bg-image order-2" style="background-image: url({{ item.image }}); ">-->
<!--        <a href="{{ vidio_block_us }}" class="play-button popup-vimeo"><span class="icon-play"></span></a>-->
<!--      </div>-->
<!--      <div class="text order-1">-->
<!--        <h2 class="site-heading text-black mb-3">{{ item.title|truncatewords:5 }}</h2>-->
<!--        <p class="lead">{{ item.content|truncatewords:25 }}</p>-->

<!--      </div>-->

<!--    </div>-->
<!--<br>-->
<!--{% endif %}-->
<!--{% endfor %}-->
<! /block us vidio -->
<! form contact us for -->
<br>
    <div class="promo py-5 bg-primary" data-aos="fade">
      <div class="container text-center">
        <h2 class="d-block mb-0 font-weight-light text-white"><a href="{{ contact_us_urls }}" class="text-white d-block">{{ contact_us_text }}</a></h2>
      </div>
    </div>
<! /form contact us for -->
   {% endblock %}