{% extends 'main/base.html' %}
{% block title %}О фирме{% endblock %}
{% block content %}


    <div class="site-blocks-cover inner-page overlay" style="background-image: url({{ image_header_about }});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 text-center">
            <h1 class="mb-5">{{ category_portfolio.name }} <strong></strong></h1>
          </div>
        </div>
      </div>
    </div>

<!--Leadership-->
    <div class="site-section section-about">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center">
            <h2 class="display-4 text-black mb-5">{{ leadership }}</h2>
          </div>
        </div>
        {% for a in port1 %}


          {% if category.slug == cat_selected %}

        <div class="row">

          <div class="col-md-6 pr-md-5 text-left mb-5">
            <div>

              <img src="{{ a.avatar }}" alt="Image" class="w-50 mb-5 rounded">
              <h3>{{ a.lname }} {{ a.fname }}</h3>
              <h5>{{ a.post }}</h5>
              <p class="lead">{{ a.message|truncatewords:40 }}</p>
              <p><a href="{{ get_absolute_url }}" class="btn btn-outline-primary btn-sm rounded-0 p-2 px-4">Читать далее</a></p>

              <p class="mt-5">
                <a href="#" class="py-4 pl-0 pr-2"><span class="icon-facebook"></span></a>
                <a href="#" class="py-4 pl-2 pr-2"><span class="icon-twitter"></span></a>
                <a href="#" class="py-4 pl-2 pr-2"><span class="icon-instagram"></span></a>
                <a href="#" class="py-4 pl-2 pr-2"><span class="icon-linkedin"></span></a>
                <a href="#" class="py-4 pl-2 pr-2"><span class="icon-vk"></span></a>
              </p>
            </div>
          </div>

            {% endif %}

            {% endfor %}




             </div>
<!--/Leadership-->







      </div>
    </div>








<! form contact us for -->
<br>
    <div class="promo py-5 bg-primary" data-aos="fade">
      <div class="container text-center">
        <h2 class="d-block mb-0 font-weight-light text-white"><a href="{{ contact_us_urls }}" class="text-white d-block">{{ contact_us_text }}</a></h2>
      </div>
    </div>
<! /form contact us for -->

{% endblock %}
