{% extends 'main/base.html' %}
{% block title %} Контакт {% endblock %}
{% block content %}

    <div class="site-blocks-cover inner-page overlay" style="background-image: url({{ image_header }});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 text-center">
            <h1 class="mb-5">{{ title_feedback  }} <strong>{{ subtitle_feedback }}</strong></h1>
          </div>
        </div>
      </div>
    </div>  

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
       
          <div class="col-md-12 col-lg-8 mb-5">
          
            
          
            <form action="#" class="p-5 bg-white" method="post">

            {% csrf_token %}
            {{ error_form }}
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  {% for item in form %}

                  <label class="font-weight-bold" >{{ item.label }}</label>
                  {{ item }}
                  {% endfor %}
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12">

                  <input type="submit" value="Отправить" class="btn btn-primary">
                </div>
              </div>

  
            </form>

          </div>

          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">{{ header_block_right }}</h3>
              <p class="mb-0 font-weight-bold">{{ title_1_block_right }}</p>
              <p class="mb-4">{{ subtitle_1_block_right }}</p>

              <p class="mb-0 font-weight-bold">{{ title_2_block_right }}</p>
              <p class="mb-4"><a href="#">{{ subtitle_2_block_right }}</a></p>

              <p class="mb-0 font-weight-bold">{{ title_3_block_right }}</p>
              <p class="mb-0"><a href="#">{{ subtitle_3_block_right }}</a></p>

            </div>

            
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">{{ title_block_2 }}</h3>
              <p>{{ subtitle_block_2 }}</p>
              <p><a href="{{ url_block_2 }}" class="btn btn-primary px-4 py-2 text-white">{{ btn_block_2 }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="promo py-5 bg-primary" data-aos="fade">
      <div class="container text-center">
        <h2 class="d-block mb-0 font-weight-light text-white"><a href="{{ url_visitinoffice }}" class="text-white d-block">{{ block_visitinoffice }}</a></h2>
      </div>
    </div>
    
{% endblock %}